<%= form_for @student do |f|%>
<!-- form_for renders the form and retains info whereas the form_tag does not.  -->
<!-- <%= form_tag post_student(@student), method: "put" do %> -->
<p>
<%= render 'form'%>
</p>
<% end %>
